<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>דו"ח 1 אוטומטי</title>

    <link href="https://automated-one-report.club/static/css/support_page.css" rel="stylesheet">
</head>
<body>
    <div class="about-section">
      <h1>אפליקציית דו"ח אחד אוטומטי</h1>
      <p>האפליקציה היחידה לאייפון שממלאת בשבילך דו"ח אחד, כדי שתוכל לישון בשקט!</p>
      <p>בכל תקלה, בעיה או הצעה - מוזמנים לפנות אלינו בכתובת המייל שלנו: automatedonereport@gmail.com</p>
    </div>
    <div class="row">
      <div class="column">
        <img src="{{ url_for('static', path='img/login-screenshot.png') }}" alt="Snow" style="width:35%; height:100%;">
      </div>
      <div class="column">
        <img src="{{ url_for('static', path='img/report-screenshot.png') }}" alt="Forest" style="width:35%; height:100%;">
      </div>
    </div>
</body>
</html>

